/*Font: Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/*Alternatively you can use the <link> element in html to import*/

body{
	background-color: PaleGoldenRod;
}

img{
	width: 200px;
	height: 200px;
	border: 5px outset black;
}

a{
	background-color: white;
	border-radius: 10px;
	text-decoration: none;
	padding: 2px;
}

a:hover{
	background-color: PaleGoldenRod;
	color: black;
}

#final{
	font-family: 'Merriweather', serif;
	font-size: 80%;
}