body,
html {
    height: 100%;
}

.parallax {
    position: relative;
    height: 100%;
    font: 400 25px/1.8 "Roboto", sans-serif;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax.picture1 {
    background-image: url('../images/img_parallax1.jpg');
    height:50%;
}

.parallax.picture2 {
    background-image: url('../images/img_parallax2.jpg');
}

.parallax.picture3 {
    background-image: url('../images/img_parallax3.jpg');
}

.parallax.picture4 {
    background-image: url('../images/img_parallax4.jpg');
    height:50%;
}

/* current order is 3,4,1,2 */


.navbar {
    margin-bottom: 0px;
}

.inscrollcontent {
    color: rgb(249, 249, 249);
    height: 175px;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    font: 400 25px/1.8 "Courier New", sans-serif;
}

.inscrollcontent.one{
    background-color: #F2AFEF;
}

.inscrollcontent.two{
    background-color: #C499F3;
}

.inscrollcontent.three{
    background-color: #7360DF;
}

.inscrollcontent.four{
    background-color: #6a7cc5;
}

.inscrollcontent.five{
    background-color: #317f8b;
}

.caption {
    position: absolute;
    left:0;
    top:50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #455;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}


