*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 233, 246);
    font-family: sans-serif;
}

i{
    cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

.navbar {
    display: flex;
    background-color: #D6A0EB;
    align-items: center;
    color: #f8f8f8;
    justify-content: space-between;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    height: 50px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }

  /**
  * ! Shop items styles are here
  **/

  .shop{
    display:grid;
    grid-template-columns: repeat(4, 232px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }

  @media (max-width: 1000px) {
    .shop{
     grid-template-columns: repeat(3, 232px);   
    }
  }

  @media (max-width: 750px) {
    .shop{
     grid-template-columns: repeat(2, 232px);   
    }
  }

  @media (max-width: 500px) {
    .shop{
     grid-template-columns: repeat(1, 232px);   
    }
  }

  .item{
    border: 2px solid #212529;
    background-color: white;
  }

  .item img{
    width: 100%;
    border-radius: 2px 2px 0px 0px;
  }

  .details{
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
  }

  .price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size:20px;
  }

  /**
  * ! style rules for label and some buttons
  **/

  .text-center{
    text-align: center;
    margin-bottom: 20px;
  }

  .HomeBtn, .checkout, .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }

  .checkout{
    background-color: green;
  }

  .removeAll{
    background-color: red;
  }


  .bi-x-lg{
    color: red;
    font-weight: bold;
  }

  /**
  * ! style rules for shopping-cart
  */

  .shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }

  /**
  * ! style rules for cart-item
  */

  .cart-item{
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }

  .title-price-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
  }

  .title-price{
    display: flex;
    align-items: center;
    gap:10px;
  }

  .cart-item-price{
    background-color: #212529;
    color:white;
    padding: 3px 6px;
    border-radius: 4px;
  }

/**
* ! form rules
*/


form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

.checkout-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.checkout-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.checkout-cart tr:nth-child(even) {
	background: #fafafa;
}

.checkout-cart td.pdelete {
	text-align: center;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}


#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 3px solid #3b1849;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #650161;
	font-weight: bold;
  border-radius: 3px;
  color: white;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 2px solid #3b1849;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 1;
  border: 2px solid black;

}

table, th, tr, td {
  border: 2px solid black;
}

th {
  background-color: #650161;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
}

#sub-total,
#shipping,
#final-total {
	margin: 1.5em 0;
	text-align: right;
}

.form-warning{
  color: red;
  font-size: x-small;
  text-align: start;
  display: none;
}
